{% load i18n sizeformat parse_date %}
{% load url from future %}

<div class="info row detail">
  <hr class="header_rule">
  <dl class="dl-horizontal">
    <dt>{% trans "ID" %}</dt>
    <dd>{{ loadbalancer.id }}</dd>

    <dt>{% trans "Project ID" %}</dt>
    <dd>{{ loadbalancer.tenant_id }}</dd>

    <dt>{% trans "Name" %}</dt>
    <dd>{{ loadbalancer.name|default:_("-") }}</dd>

    <dt>{% trans "Provider" %}</dt>
    <dd>{{ loadbalancer.provider|default:_("N/A") }}</dd>

    <dt>{% trans "Description" %}</dt>
    <dd>{{ loadbalancer.description|default:_("-") }}</dd>

    <dt>{% trans "Subnet" %}</dt>
    {% url 'horizon:manager:networks:subnets:detail' loadbalancer.vip_subnet_id as subnet_url %}
    <dd><a href="{{ subnet_url }}">{{ loadbalancer.vip_subnet_id }}</a></dd>

    <dt>{% trans "Listeners" %}</dt>
    <dd>
      {% if loadbalancer.listeners %}
      {% for ls in loadbalancer.listeners %}
      {% url 'horizon:manager:loadbalancers:listenerdetails' ls.id as listener_url %}
      <a href="{{ listener_url }}">{{ ls.id }}</a><br>
      {% endfor %}
      {% else %}
      <dd>{% trans "-" %}</dd>
      {% endif %}
    </dd>

    <dt>{% trans "Admin State Up" %}</dt>
    <dd>{{ loadbalancer.admin_state_up|yesno|capfirst }}</dd>

  </dl>
</div>

<div class="info row detail">
  <h4>{% trans "Loadbalancer Statistics" %}</h4>
  <hr class="header_rule">
  <dl class="dl-horizontal">

    {% if loadbalancer.stats %}
      <dt>{% trans "Bytes In" %}</dt>
      <dd>{{ loadbalancer.stats.bytes_in }}</dd>

      <dt>{% trans "Bytes Out" %}</dt>
      <dd>{{ loadbalancer.stats.bytes_out }}</dd>

      <dt>{% trans "Active Connections" %}</dt>
      <dd>{{ loadbalancer.stats.active_connections }}</dd>

      <dt>{% trans "Total Connections" %}</dt>
      <dd>{{ loadbalancer.stats.total_connections }}</dd>
    {% endif %}
  </dl>
</div>