{% load i18n horizon %}

<p>{% blocktrans %}Specify the details for launching an instance.{% endblocktrans %}</p>
<p>{% blocktrans %}Basic type instance is an economical option for development workloads, test servers, and other applications that don't require load balancing, auto-scaling, or memory-intensive virtual machines.{% endblocktrans %}</p>
<p>{% blocktrans %}Standard type instance offers the most flexibility. Supports all virtual machine configurations and features.{% endblocktrans %}</p>
<p>{% blocktrans %}D-series virtual machines feature solid state drives (SSDs) and 60％ faster processors than the A-series. This series is ideal for applications that demand faster CPUs, better local disk performance, or higher memories.{% endblocktrans %}</p>
