{% load i18n sizeformat %}
{% load url from future %}
{% load i18n horizon humanize sizeformat %}

<div class="quota-dynamic">
  <h3 class="quota-heading">{% trans "Limit Summary" %}</h3>
    <div class="d3_quota_bar">
      <div class="d3_pie_chart_usage" data-used="{% widthratio usage.current_core_count usage.max_core_count 100 %}"></div>
      <strong>{% trans "VCPUs" %} <br />
        {% blocktrans with used=usage.current_core_count|intcomma available=usage.max_core_count|quotainf|intcomma %}Used <span> {{ used }} </span> of <span> {{ available }} </span>{% endblocktrans %}
      </strong>
    </div>

    <div class="d3_quota_bar">
      <div class="d3_pie_chart_usage" data-used="{% widthratio usage.current_hosted_services usage.max_hosted_services 100 %}"></div>
      <strong>{% trans "Cloud Services" %} <br />
        {% blocktrans with used=usage.current_hosted_services|intcomma available=usage.max_hosted_services|quotainf|intcomma %}Used <span> {{ used }} </span> of <span> {{ available }} </span>{% endblocktrans %}
      </strong>
    </div>
</div>

<div class="info row detail">
  <h4>{% trans "Quick Start" %}</h4>
  <hr class="header_rule">
  <div>
    <h3>{% trans "Instance" %}</h3>
    <p>{% blocktrans %}An instance is a server in the cloud that you can control and manage.{% endblocktrans %}</p>
    <p>{% blocktrans %}After you create a virtual machine, you can delete and re-create it whenever you need to, and you can access the virtual machine just as you do with a server in your office.{% endblocktrans %}</p>

    <h3>{% trans "Cloud Service" %}</h3>
    <p>{% blocktrans %}A Cloud Service is a set of roles(instances) and their configurations.{% endblocktrans %}</p>

    <h3>{% trans "Cloud Service Basic Architecture" %}</h3>
    <p><img src="/static/lecloud/img/cloudservice_basic_architecture.png" /></p>

    <h3>{% trans "Disk" %}</h3>
    <p>{% blocktrans %}Disk for instance OS and data storage.{% endblocktrans %}</p>

  </div>
</div>
