{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}add_endpoint_form{% endblock %}
{% block form_action %}{% url "horizon:lecloud:instances:addendpoint" cloud_service_name deployment_name instance_name %}{% endblock %}

{% block modal_id %}add_endpoint_modal{% endblock %}
{% block modal-header %}{% trans "Add Endpoint" %}{% endblock %}

{% block modal-body %}
<div class="left">
  <fieldset>
  {% include "horizon/common/_form_fields.html" %}
  </fieldset>
</div>
<div class="right">
  <h3>{% trans "Description:" %}</h3>
  <p>{% trans "Add an endpoint to the instance." %}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Add Endpoint" %}" />
  <a href="{% url "horizon:lecloud:instances:index" %}" class="btn btn-default secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}

