{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}deattach_datadisk_form{% endblock %}
{% block form_action %}{% url "horizon:lecloud:instances:deattach" cloud_service_name deployment_name instance_name %}{% endblock %}

{% block modal_id %}deattach_datadisk_modal{% endblock %}
{% block modal-header %}{% trans "De-attach Data Disk" %}{% endblock %}

{% block modal-body %}
<div class="left">
  <fieldset>
  {% include "horizon/common/_form_fields.html" %}
  </fieldset>
</div>
<div class="right">
  <h3>{% trans "Description:" %}</h3>
  <p>{% trans "Please confirm data stored on data disk has made a backup. De-attach action will remove the data on the data disk completely. And the data cannot be recovered." %}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "De-attach Data Disk" %}" />
  <a href="{% url "horizon:lecloud:instances:index" %}" class="btn btn-default secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}

